body {
    background-color: #1b1b1b;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    margin-bottom: 100px;
}

.bandeau {
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.logo img {
    max-width: 100%;
    height: auto;
    width: 50px;
}

.titre h1 {
    margin: 0;
}

.hamburger {
    position: relative;
    margin-right: 20px; /* Adjust the margin as needed */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
}

.hamburger:hover div {
    background-color: rgb(81, 119, 255);
}

.hamburger div {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/
.nav {
    background-color: #1b1b1b;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
}

.nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    margin-top: 50px;
}

header nav {

    text-align: left;
    margin-left: 25%;
}

nav a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
}

nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    color: white;
}

nav a:hover:before {
    height: 100%;
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
}

#toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
}

#toggle {
    display: none;
}

/** Tout ce qui va être UI et jeu présenté **/

.all-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.all-game a {
    color: white;
    text-decoration:none;
}



/** Estetique des jeu du moment **/

.all-game div {
    border-width: 10px;
    border-style: solid;
    border-radius: 15px;
    border-color: #1b1b1b;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.all-game img{
    border-radius: 35px;
    transition: all 0.3s ease-in-out;
}

.left:hover, .center:hover, .right:hover {
    border-color: rgb(81, 119, 255);
}



.all-game div:hover img{
    border-radius: 10px;
}

.right{
    margin-right: 50px;
}

.left{
    margin-left: 50px;
}

.all-game div h3{
    text-align: center;
    margin-top: 0px;
}

.all-game div .info-game, .info-game div{
    transform: scale(0);
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
}

.all-game div:hover div{
    transform: scale(1);
}

div.pres-game {
    padding: 0px;
    border: none;
}

.grss{
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

.grss:hover{
    font-size: 20px;
}

nav.grss, .info-game p.grss, .info-game div p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}

nav.grss{
    height: 35px;
}

select, option{
    background-color: #313131;
    color:white;
	border: #777 1px solid;
	margin: 0 0 1.5em 0;
}

.info-game div{
    border: 0px;
    padding: 0px;
}

.grss p{
    display: inline;
}

.old-price{
    color: rgba(245, 245, 245, 0.6);
    text-decoration: line-through;
}

footer {
    background-color: #202020;
    margin-top: 50px;
    color:white;
    text-decoration: none;

}


/* animation de changement de version */
.fade-out {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-out-price {
    opacity: 0;
    transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}

.fade-in-price {
    opacity: 1;
    transition: opacity 1.5s ease-in-out, transform 1s ease-in-out;
}